*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #333;
}

.container{
    width: 50vh;
    height: 55vh;
    background-color: #f1b300;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
    padding: 4vh;
    border-radius: 5vh;
}

h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 40vh;
    margin-bottom: 10vh;
    color: white;
}

a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    text-decoration: none;
    background-color: white;
    color: #4cb6ac;
    padding: 2vh;
    width: 40vh;
    border-radius: 5vh;
    text-align: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2vh;
    display: inline-block;
    position: relative;
    bottom: 0vh;
    transition: background-color 0.3s ease, color 0.5s ease;
}

a:hover {
    background-color:#4cb6ac;
    color: white;
}