*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #333;
  }

  .aplicacao {
    background-color: white;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    height: 40%;
    margin-top: 5%;
    padding: 5%;
    position: relative;
    border-radius: 30px;
    text-align: center;
  }
  
  .tabela-periodica {
    width: 51%;
    height: 40%;
    margin-top: 3%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
  
  .elemento {
    position: relative;
    padding: 1%;
    margin-right: -1px;
    margin-bottom: -7px;
    margin-top: -8px;
    width: 5%;
    height: 5%;
    display: inline-block;
    text-align: center;
    border-radius: 10%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: medium;
    background-color: transparent;
    cursor: pointer;
  }
  
  .elemento[data-grupo="1"] {
    background-color: #a2d344;
    color: white;
  }
  
  .elemento[data-grupo="2"] {
    background-color: #f1b300;
    color: white;
  }
  
  .elemento[data-grupo="3"] {
    background-color: #eada00;
    color: white;
  }
  
  .elemento[data-grupo="4"] {
    background-color: #4cb6ac;
    color: white;
  }
  
  .elemento[data-grupo="5"] {
    background-color: #a2d344;
    color: white;
  }
  
  .elemento[data-grupo="6"] {
    background-color: #70cbea;
    color: white;
  }
  
  .elemento[data-grupo="7"] {
    background-color: #3e9ee4;
    color: white;
  }
  
  .elemento[data-grupo="8"] {
    background-color: #a2c7d2;
    color: white;
  }
  

  /*define um atibuto quando o cursor esta em cima de algo com a class indicada*/
  /*.elemento:hover {
    background-color: #c6c6c6;
  }*/
  
  .elemento[data-grupo="9"] {
    background-color: #ea8f8e;
    color: white;
  }

  .elemento[data-grupo="10"] {
    background-color: #90e3e8;
    color: white;
    left: 130px;
    margin-top: 44px;
  }

  .elemento[data-grupo="11"] {
    background-color: #dcadd7;
    color: white;
    left: 130px;
  }

  #proLado {
    left: 5.4%;
  }

  #proLadao {
    left: 53.8%;
  }

  #proLadaozao {
    left: 86%;
  }